body {
    front-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(255, 3, 3);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif  ;
    background-color: rgb(236, 152, 231);
    border-radius: 30px;
    text-align: center;  
    font-family: MiFuente;
   
}
h2 {
   
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif  ;
    text-align: center;
    border-style: solid;
    margin: 10px;
    padding: 15px;
   
}

h3 {
    border-style: solid;
    margin: 10px;
    padding: 15px;
     text-align: center;
}
h4 {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif  ;
    text-align: center;
    margin: 10px;
    padding: 15px;
}
p {
  
    margin: 10px;
    padding: 15px;
 
    text-align: center;
}
li {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif  ;
    text-align: center;
    margin: 10px;
    padding: 15px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    
}
@font-face {
    font-family: MiFuente;
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
    
}

/* tipos de unidades 
1. unidades absolutas: cm, mm, in, px, pt, pc
2. unidades relativas: em, ex, %, vw, vh
*/